/* ===== Bulma overrides ===== */

/* Less spacing between a field's label and its content */
.label:not(:last-child) {
    margin-bottom: 0;
}

/* More spacing between different field elements */
.field:not(:last-child) {
    margin-bottom: 1.25rem;
}

/* =========================== */


/* Input field suggestions */
.suggestions {
    position: relative;
    cursor: default;
    user-select: none;
    z-index: 10;
}
.suggestions ul {
    position: absolute;
    width: 100%;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.suggestions ul li {
    display: flex;
    padding: 0.5em;
}
.suggestions ul li:hover {
    background-color: #f0f0f0;
}
.suggestions ul li .icon {
    margin-right: 0.5em;
    cursor: pointer;
}
.suggestions ul li .icon:hover {
    color: red;
    border: 1px solid red;
    border-radius: 4px
}
/* For input field which suggestions will appear under */
.suggestions-field {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Setting being controlled by environment variable.
   Disables all direct children of the ui element, except for elements with the -warn class  */
.controlled-by-env {
    position: relative;
}
.controlled-by-env > *:not(.controlled-by-env-warn) {
    filter: opacity(0.15);
    pointer-events: none;
    user-select: none;
}
.controlled-by-env-warn {
    user-select: none;
    white-space: pre;
}