/* Input field suggestions */
.suggestions {
    position: relative;
    cursor: default;
    user-select: none;
}
.suggestions ul {
    position: absolute;
    width: 100%;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.suggestions ul li {
    display: flex;
    padding: 0.5em;
}
.suggestions ul li:hover {
    background-color: #f0f0f0;
}
.suggestions ul li .icon {
    margin-right: 0.5em;
    cursor: pointer;
}
.suggestions ul li .icon:hover {
    color: red;
    border: 1px solid red;
    border-radius: 4px
}
/* For input field which suggestions will appear under */
.suggestions-field {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}